@import "tailwindcss";

@theme {
  --default-font-family: "Inter";
}

@font-face {
  font-family: "Inter";
  src: url("Inter_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("Inter_Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("Inter_SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
